@model dynamic

<div class="card shadow-sm">
    <div class="card-body text-center">
        <h5 class="card-title text-@Model.Color">@Model.Value</h5>
        <p class="card-text text-muted">@Model.Title</p>
        <small class="text-muted">@Model.Subtitle</small>
    </div>
</div>